# Node.js dependencies
node_modules/
.npm/

# Build output
dist/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Tailwind CSS cache
.tailwindcache/

# MacOS system files
.DS_Store

# VSCode settings
.vscode/